[Unit]
Description=Carl protected immutable-input effect socket

[Socket]
Service=carl-input-effect.service
FileDescriptorName=input-effect
ListenStream=/run/carl/input-effect.sock
DirectoryMode=0700
SocketMode=0600
SocketUser=root
SocketGroup=root
RemoveOnStop=false

[Install]
WantedBy=sockets.target
