[Unit]
Description=Carl protected evaluator effect socket

[Socket]
FileDescriptorName=evaluator-effect
ListenStream=/run/carl/evaluator-effect.sock
DirectoryMode=0700
SocketMode=0600
SocketUser=root
SocketGroup=root
RemoveOnStop=false

[Install]
WantedBy=sockets.target
